<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>tp2015dds</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
 
 
  <servlet>
    <description> </description>
    <display-name>LoginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>tp2015dds.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginWeb.jr</url-pattern>
  </servlet-mapping>
  
 <servlet>
 	<description></description>
 	<display-name>RegistroServlet</display-name>
 	<servlet-name> registroServlet</servlet-name>
 	<servlet-class>tp2015dds.servlets.RegistroServlet</servlet-class>
 </servlet> 
  
  <servlet-mapping> 
  	<servlet-name>registroServlet</servlet-name>
  	<url-pattern>/registrado.jr</url-pattern> 
  </servlet-mapping>
   
</web-app>